[Unit]
Description=Modbus FastAPI Dashboard Container
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=modbus-dashboard
Image=localhost/modbus-dashboard:latest
PublishPort=8000:8000
AddDevice=/dev/ttyUSB0:/dev/ttyUSB0

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target